@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');
body {
    font-size: .875rem;
    font-family: 'Open Sans' !important;
    background-color: #fff;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-family: 'Noto Sans';
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* background-color: #0b4e28; */
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  .img-white {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
  
  .nav-admin {
    line-height: 2;
  }

  .nav-admin > li > a {
    color: #fff !important;
  }
  .nav-admin > li > a:hover {
    opacity: .5;
  }

  .nav-admin-sub > a {
    color: #fff !important;
    background-color: transparent !important;
    border-color: transparent;
  }

  .nav-admin-sub > a:hover {
    opacity: .5;
  }

  .ql-container {
    font-family: 'Open Sans' !important;
    height: 60vh !important;
    font-size: .875rem !important;
  }

  .to-center {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: auto;
}
label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Noto Sans';
}
th {
  font-family: 'Noto Sans';
}

.btn {
  text-transform: uppercase;
  border-radius: 0;
  font-size: 13px;
  /* width: 200px; */
  font-family: 'Noto Sans';
}

.form-control, .card {
  border-radius: 0;
}

.pace .pace-progress {
  background: #167841 !important;
}

#link > li {
  border:none !important;
}

.link-movie > li {
  border-color: transparent;
}