@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');
html,body {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff !important;
    color: rgba(0,0,0,0.7);
    /* letter-spacing: .3px; */
}
.nav-top {
    font-family: 'Noto Sans';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}
.nav-top > li {
    margin-left: 1em;
}
.nav-top > li > a {
    color: #fff;
}
.nav-bottom > li {
    margin-left: 0;
}
.nav-bottom > li > a {
    color: #fff;
    padding-left: 0;
}
.to-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
}
.to-center {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
}
.grad-hero {
    background-image: linear-gradient(0deg,#0000 5%,#000);
}
.z-index-1 {
    z-index: 1;
}
.swiper-pagination-bullet {
    height: 5px !important;
    width: 5px !important;
}
.swiper-pagination-bullet-active {
    background: #000 !important;
    width: 5em !important;
    border-radius: 50em !important;
}
.space-m {
    padding-top: 40px;
    padding-bottom: 40px;
}
.space-xl {
    padding-top: 80px;
    padding-bottom: 80px;
}
.badge {
    border-radius: 50em;
    padding: 5px 20px 5px 20px;
    font-weight: normal;
}
.bg-dark-2 {
    background-color: #1c1b1b;
}
.space-m {
    padding-top: 40px;
    padding-bottom: 40px;
}
.btn {
    width: 200px;
    border-radius:50em;
    text-transform: uppercase;
    font-family: 'Noto Sans';
    font-weight: 600;
    letter-spacing: normal;
}
.to-bottom {
    position: absolute;
    top:auto;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn-icon {
    width: 40px;
    height: 40px;
    border-radius: 50rem;
    font-size: 1rem;
    padding: 0.45rem 0 0 0;
    position: inherit;
}
.btn-icon-lg {
    width: 80px;
    height: 80px;
    border-radius: 50rem;
    font-size: 1rem;
    padding: 0.45rem 0 0 0;
    position: inherit;
}

.a2a_default_style:not(.a2a_flex_style) a {
    padding: 0 4px !important;
}
.font-noto {
    font-family: 'Noto Sans';
}
.neon-1 {
    filter:drop-shadow(0 0 5px #167841) contrast(2) brightness(2);
}
.grad-line {
    background-image: linear-gradient(45deg,#fff 1%,#000);
    height: 1px;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
.media-body {
-ms-flex: 1;
flex: 1;
}

.nav-contact > li {
    background-color: transparent;
    padding-left: 0;
    color: #fff;
    border: none;
}